src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="450c12c6-48c0-441a-876b-1c575609bc08" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="c29feb80-1d5b-461c-9536-0a36eea0ebc7" >
		<http:listener doc:name="Listener" doc:id="9137863f-028f-43a1-b549-cc68aa0ac5e0" config-ref="HTTP_Listener_config" path="/sample"/>
		<ee:transform doc:name="Transform Message" doc:id="fe772099-9196-4989-9061-10e867a526a0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Sample Mule feature 1 Project"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8e2b5175-0367-46ad-9018-39d2d3ecab09" />
	</flow>
	<flow name="sampleFlow1" doc:id="f95109c4-038e-443e-b769-a9e06b86fe59" >
		<http:listener doc:name="Listener" doc:id="3e13c9ae-948e-4fd4-a73a-0d9a887a0184" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="c1b9b354-d3a5-4e56-bba1-024c37fe5aee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Hello"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
